/**
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


/**
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  background: url('http://2.bp.blogspot.com/-FBg81bBmLhU/UTIzJpjCA1I/AAAAAAAAA5k/saPeDFtmKkk/s1600/Mutya-Ng-Dabaw-2013%253DWinners-.jpg') no-repeat center 24% fixed;
  -webkit-background-size: cover;
  padding-top: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

