/**
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}


/**
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  background: url('../../images/mutya-ng-dabaw-2013.jpg') no-repeat center 24% fixed;
  -webkit-background-size: cover;
  padding-top: 70px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

