body {
    padding-top: 70px;
    height: 100%;
}
.navbar-brand {
    padding: 5px 15px;
}
.page-header {
    margin-top: 0;
}
.candidates {
    margin-top: 0;
}
.panel-contestant .contestant-name {
    border-bottom: 1px solid #ccc; margin: 10px auto; padding-bottom: 10px;
}
.panel-contestant .scoring-sheet {
    border-bottom: 1px solid #ccc; margin: 10px auto; padding-bottom: 10px;
}
.panel-contestant .contestant-total-score {
    padding-right: 60px;
    border-top: 1px solid #ccc;
    margin-top: 0;
}
.table .form-group {
    margin-bottom: 0;
}
.table .form-group {
    position: relative;
}
.table .form-group .glyphicon {
    display: none;
    position: absolute;
    top: 0;
    padding: 10px;
}
.table .form-group.has-success .glyphicon {
    display: inherit;
    color: #3c763d;
}
.table .form-group.has-success .glyphicon:before {
    content: "\e013";
}
.table .form-group.has-error .glyphicon {
    display: inherit;
    color: #a94442;
    content: 
}
.table .form-group.has-error .glyphicon:before {
    content: "\e014";
}
.popover .close {
    margin-top: -2px;
}
.bs-callout {
    padding: 16px;
    margin-bottom: 15px;
    border: 1px solid #eee;
    border-right-width: 5px;
    border-radius: 3px;
}
.segment-change-status {
    width: 100%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.bs-callout ul {
    margin-bottom: 0;
}
.bs-callout-danger {
    border-right-color: #ce4844;
}
.bs-callout h4 {
    font-weight: bold;
    margin: 0 0 5px;
    color: #ce4844;
}